<meta name="viewport" content="width=device-width, initial-scale=1">

<%# render "layouts/home_logout" %>

<div class="container-fluid">

  <div class="row">

    <div class="col-xl-2" style="background-color:#ffffff">

      <%= render partial: "layouts/side_navbar",locals: {selected: "cart"} %>
    </div>

    <div class="col-xl-9" style="width: 1000px;">

      <div class="row">
        <% @products.each do |product| %>

        <div class="col-sm-3 py-md-3 mx-md-3 border border-dark text-center" style="background-color:#ffffff ">
          <%= link_to product_path(id: product.id) do  %>
          <br>
          <%= render partial: "picture", locals: {product_pic: product}%><br>
          Name:        <%= product.name %> <br>
          Description: <%= product.description %><br>
          Price:       <%= product.price %><br>
          <% end %>
          Quantity:     <div class="counter">
            <% @cart_items.each do |cart_item| %>
              <% if cart_item.product_id == product.id %>
                <%= cart_item.quantity.to_i %>
              <% end %>
            <% end %>
          </div>
          <div class="button_group">
            <%=  button_to '+1' , cart_quantity_update_path(product: product.id, type: "add"), method: "put" , class: 'add' %>
            <%=  button_to '-1' , cart_quantity_update_path(product: product.id, type: "subtract"), method: "put" , class: 'subtract' %>

          </div>
          <%= button_to "Remove Item from cart", cart_path(id: @cart.id), method: "delete"%>
        </div>
        <% end %>
        <% if @cart_items.count == 0 %>
          <% flash[:cart_empty] = "Cart is empty" %>
          <div class="alert alert-danger ">
            <%= flash[:cart_empty] %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-sm-10">

        </div>
        <div class="col-sm-2">
          <% if @products.count !=0 %>
            <%= link_to "Place Order",new_order_path ,class: "btn"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
