<meta name="viewport" content="width=device-width, initial-scale=1">

<%# render "layouts/home_logout" %>

<div class="container-fluid">

  <div class="row">

    <div class="col-xl-2" style="background-color:#ffffff">

      <%= render partial: "layouts/side_navbar",locals: {selected: "cart"} %>
    </div>

    <div class="col-xl-10" style="width: 1000px;">

      <div class="row">
        <% @products.each do |product| %>

        <div class="col-sm-3 py-md-3 mx-md-3 border border-dark text-center" style="background-color:#ffffff ">
          <%= link_to product_path(id: product.id) do  %>
          <br>
          <%= render partial: "picture", locals: {product_pic: product}%><br>
          Name:        <%= product.name %> <br>
          Description: <%= product.description %><br>
          Price:       <%= product.price %><br>
          <% end %>
          Quantity:     <div class="counter">
            <% @cart_item.each do |cart_item| %>
              <% if cart_item.product_id == product.id %>
                <%= cart_item.quantity.to_i %>
              <% end %>
            <% end %>
          </div>
          <div class="button_group">
            <%=  link_to '+1' , cart_quantity_update_path(product: product.id), method: "post" , class: "add" %>

            <button class="subtract">- 1</button>

            <!-- <button class="add">+ 1</button> -->

          </div>
          <%= button_to "Remove", cart_path(id: @cart.id), method: "delete"%>
        </div>
        <% end %>
        <%= button_to "Place Order",new_order_path %>
      </div>
    </div>
  </div>

</div>
