<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  body {
    font-family: "Lato", sans-serif;
  }

  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  .sidenav a:hover {
    color: #6dccd1;
  }

  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .blog-section div:first-child {
    margin-top: 37px;
    display: inline-block;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-light rounded ">
  <%= User.find_by(id: session[:current_user_id]).user_name %>
  <%# @user.user_name %>
  <ul class="nav mr-auto">
    <!-- <li class="nav-item active">
      <%#  link_to 'Home' , 'sessions/new', :class => "btn nav-link" %>
    </li> -->
  </ul>
  <ul class="nav justify-content-end bg-light">
    <li class="nav-item">
      <div class="nav-link active" >
        <%=  link_to 'Home' , { controller: "dashboards", action: "index"}, :class => "btn" %>
      </div>
    </li>
    <li class="nav-item">
      <div class="nav-link active" >
        <%= link_to 'Log Out', { controller: "sessions", action: "destroy", id: session[:current_user_id]}, :class => "btn", method: 'delete' %>
      </div>
    </li>
  </ul>
  <!-- <ul class="nav ml-auto">
    <li class="nav-item active">

    </li>
    <li class="nav-item active">
      <%# link_to 'Log Out' , controller: "sessions", action: "destroy", id: session[:current_user_id], :class => "btn" %>
    </li>
  </ul> -->
</nav>


<!-- <body style="background-color:#4B515D"> -->
<div class="sidenav vertically-center alert" style="background-color:#4B515D; width: 180px;">
  <br><br>
  <li class="row py-xl-2 px-xl-2" >
    <%=  link_to 'Dashboard' , controller: "dashboards" , action: "index", :class => "btn" %>
  </li>
  <li class="row py-xl-2 px-xl-2">
    <%=  link_to 'Products' , controller: "products" , action: "index", :class => "btn" %>
  </li>
  <li class="row py-xl-2 px-xl-2" style="background-color:#ffffff">
    <%=  link_to 'Settings' , controller: "setting" , action: "index", :class => "btn" %>
  </li>
</div>
<div class="container">
  <div class="row">
    <div class="col-xl-2" style="background-color:#ffffff">
    </div>
    <!-- <li class="row py-xl-3">
    <a href="#clients">Setting</a>
  </li>
  <li class="row py-xl-3">
  <a href="#contact">Cart</a>
</li> -->
<div class="col-xl-10" style="width: 1000px; height: 500px; background-color:#4B515D">
  <div class="px-xl-5 py-xl-5">
    <%= form_for @user, url: { action: "update", id: session[:current_user_id]}, :html => {:class => "form-horizontal center text-light"} do |f| %>
    <div class="row">

      <div class="col-xl-6">
        <div class="row pl-xl-3">
          <%= f.label :email, "Email:", class: " control-label" %>
        </div>
        <%= f.text_field :email, :value => @user.email, class: "form-control" %>
      </div>
      <div class="col-xl-6">
        <div class="row pl-xl-3">
          <%= f.label :password, "Password:", class: " control-label" %>
        </div>
        <%= f.text_field :password, :value => @user.password, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6">
        <div class="row pl-xl-3 py-xl-2">
          <%= f.label :user_name, "User Name:", class: " control-label" %>
        </div>
        <%= f.text_field :user_name,:value => @user.user_name, class: "form-control" %>
      </div>
      <div class="col-xl-6">
        <div class="row pl-xl-3 py-xl-2">
          <%= f.label :phone_number, "Phone Number:", class: " control-label" %>
        </div>
        <%= f.text_field :phone_number,:value => @user.phone_number, class: "form-control" %>
      </div>

    </div>
    <div class="row pl-xl-3 py-xl-2">
      <%= f.label :alternate_number, "Alternate Number:", class: " control-label" %>
    </div>
    <div class="row">
      <div class="col-xl-6">
        <%= f.text_field :alternate_number,:value => @user.alternate_number, class: "form-control" %>
      </div>
    </div>



    <div class="row pt-xl-5 pl-xl-3">

      <%= f.submit "Submit", class: "btn btn-default btn-primary", data: { confirm: 'Are you sure ?' }  %>
    </div>
    <% end %>

  </div>
</div>
</div>
<!-- <div class="col-xl-1">

</div> -->
<!-- <div class="col-sm-3 py-md-3 mr-md-3 border border-dark" style="background-color:#ffffff ">
<br><br>
Product Index page
<br>
<br>
</div>

<div class="col-sm-3 py-md-3 border border-dark" style="background-color:#ffffff ">
<br><br>
Product Index page
<br>
<br>
</div>
</div>
</div> -->
<!-- <div class="col-xl-1">

</div> -->
<!-- <div class="col-xl-1">

</div> -->
</div>

<!-- </div> -->

<!-- </body> --> -->
