<meta name="viewport" content="width=device-width, initial-scale=1">

<nav class="navbar navbar-expand-lg navbar-dark bg-light rounded ">
  <%= User.find_by(id: session[:current_user_id]).user_name %>

  <ul class="nav mr-auto">
    <!-- <li class="nav-item active">
      <%#  link_to 'Home' , 'sessions/new', :class => "btn nav-link" %>
    </li> -->
  </ul>

  <ul class="nav justify-content-end bg-light">

    <li class="nav-item">

      <div class="nav-link active" >
        <%=  link_to 'Home' , { controller: "dashboard", action: "index"}, :class => "btn" %>
      </div>
    </li>

    <li class="nav-item">

      <div class="nav-link active" >
        <%= link_to 'Log Out', { controller: "session", action: "destroy", id: session[:current_user_id]}, :class => "btn", method: 'delete' %>
      </div>
    </li>
  </ul>
</nav>

<div class="container-fluid">

  <div class="row">

    <div class="col-xl-2" style="background-color:#ffffff">

      <div class="sidenav vertically-center alert" style="background-color:#4B515D; width: 180px;">
        <br><br>

        <li class="row py-xl-2 px-xl-2" >
          <%=  link_to 'Dashboard' , controller: "dashboard" , action: "index", :class => "btn" %>
        </li>
        <li class="row py-xl-2 px-xl-2" style="background-color:#ffffff">
          <%=  link_to 'Products' , controller: "product" , action: "index", :class => "btn" %>
        </li>
        <li class="row py-xl-2 px-xl-2">
          <%=  link_to 'Settings' , controller: "setting" , action: "index", :class => "btn" %>
        </li>
      </div>
    </div>

    <div class="col-xl-10" style="width: 1000px;">

      <div class="row">
        <% @product.each do |product| %>

        <div class="col-sm-3 py-md-3 mx-md-3 border border-dark" style="background-color:#ffffff ">
          <%= link_to product_path(id: product.id) do  %>
          <br>
          <%= product.id %>
          <%= product.name %> <br>
          <%= product.description %> <br>
          <%= product.price %> <br>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>
