<meta name="viewport" content="width=device-width, initial-scale=1">

<%# render "layouts/home_logout" %>

<div class="container-fluid">

  <div class="row">

    <div class="col-xl-2" style="background-color:#ffffff">

      <%= render partial: "layouts/side_navbar", locals: {selected: "product"} %>
    </div>

    <div class="col-xl-9" style="width: 1000px; background-color:#4B515D">

      <div class="px-xl-5 py-xl-5">
        <%= form_for :product, url: cart_path(id: @cart.id, product_id: @product.id, status: "new", quantity: "1"), method: "put", html: {class: "form-horizontal center text-light"}, remote: true do |f| %>

        <div class="row">

          <div class="col-xl-6">

            <div class="row pl-xl-3 has_picture">
              <%= render partial: "picture", locals: {product_pic: @product}%><br>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-xl-6">

            <div class="row pl-xl-3">
              <%= f.label "Name:",class: " control-label" %>
            </div>
            <%= f.label :name,value: @product.name, class: "form-control" %>
          </div>

          <div class="col-xl-6">

            <div class="row pl-xl-3">
              <%= f.label "Description:", class: " control-label" %>
            </div>
            <%= f.text_field :description, value: @product.description, class: "form-control" %>
          </div>
        </div>

        <div class="row">

          <div class="col-xl-6">

            <div class="row pl-xl-3 py-xl-2">
              <%= f.label "Price:", class: " control-label" %>
            </div>
            <%= f.label :price,value: @product.price, class: "form-control" %>
          </div>

          <div class="col-xl-6">

            <div class="row pl-xl-3 py-xl-2">
              <%= f.label "Brand:", class: " control-label" %>
            </div>
            <%= f.label :brand,value: @product.brand, class: "form-control" %>
          </div>

        </div>

        <div class="row pl-xl-3 py-xl-2">
          <%= f.label  "Date First Available:", class: " control-label" %>
        </div>

        <div class="row">
          <div class="col-xl-6">
            <%= f.label :date_first_available,value: @product.date_first_available, class: "form-control" %>
          </div>
        </div>

        <div class="row pt-xl-5 pl-xl-3">

          <%= f.submit "Add To Cart", class: "btn btn-default btn-primary", data: { confirm: 'Are you sure ?' }  %>
        </div>
        <% end %>

      </div>
    </div>
  </div>

</div>
