<meta name="viewport" content="width=device-width, initial-scale=1">

<%# render "layouts/home_logout" %>

<div class="container-fluid">

  <div class="row">

    <div class="col-xl-2" style="background-color:#ffffff">

      <%= render partial: "layouts/side_navbar", locals: {selected: "manage_products"} %>
    </div>

    <div class="col-xl-9" style="width: 1000px; background-color:#4B515D">

      <div class="px-xl-5 py-xl-5">
        <%= form_for @product, url: manage_product_path(id: @product.id), method: "put", html: {class: "form-horizontal center text-light"}, remote: true do |f| %>

        <div class="row">

          <div class="col-xl-6">

            <div class="row pl-xl-3 has_picture">
              <%= render partial: "picture", locals: {product_pic: @product}%>
            </div>

            <!-- <div class="row testClass">
              <%# render partial: "hello", locals: {word: "hello"} %>
            </div> -->

            <div class="py-xl-3">
              <%= link_to 'Delete', manage_product_path(id: @product.id), class: 'btn btn-default btn-primary', method: 'delete', remote: true %>
              <%= f.file_field :product_picture,class: "btn btn-default btn-primary" %>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-xl-6">

            <div class="row pl-xl-3">
              <%= f.label "Name:",class: " control-label" %>
            </div>
            <%= f.text_field :name,value: @product.name, class: "form-control" %>

            <% if @product.errors[:name].any?%>
            <div class="row pl-xl-3 text-left">
              <div class="text-danger">
                <% @product.errors[:name].each do |error| %>
                  **<%= error %> <br>
                <% end %>
              </div>
            </div>
            <% end %>

          </div>

          <div class="col-xl-6">

            <div class="row pl-xl-3">
              <%= f.label "Description:", class: " control-label" %>
            </div>
            <%= f.text_field :description, value: @product.description,class: "form-control" %>

            <% if @product.errors[:description].any?%>
            <div class="row pl-xl-3 text-left">
              <div class="text-danger">
                <% @product.errors[:description].each do |error| %>
                  **<%= error %> <br>
                <% end %>
              </div>
            </div>
            <% end %>

          </div>
        </div>

        <div class="row">

          <div class="col-xl-6">

            <div class="row pl-xl-3 py-xl-2">
              <%= f.label "Price:", class: " control-label" %>
            </div>
            <%= f.text_field :price,value: @product.price , class: "form-control" %>

            <% if @product.errors[:price].any?%>
            <div class="row pl-xl-3 text-left">
              <div class="text-danger">
                <% @product.errors[:price].each do |error| %>
                  **<%= error %> <br>
                <% end %>
              </div>
            </div>
            <% end %>

          </div>

          <div class="col-xl-6">

            <div class="row pl-xl-3 py-xl-2">
              <%= f.label "Brand:", class: " control-label" %>
            </div>
            <%= f.text_field :brand,value: @product.brand, class: "form-control" %>

            <% if @product.errors[:brand].any?%>
            <div class="row pl-xl-3 text-left">
              <div class="text-danger">
                <% @product.errors[:brand].each do |error| %>
                  **<%= error %> <br>
                <% end %>
              </div>
            </div>
            <% end %>

          </div>

        </div>

        <div class="row pl-xl-3 py-xl-2">
          <%= f.label  "Date First Availabe:", class: " control-label" %>
        </div>

        <div class="row">

          <div class="col-xl-6">
            <%= f.date_field :date_first_available,value: @product.date_first_available, class: "form-control" %>

            <% if @product.errors[:date_first_available].any?%>
            <div class="row pl-xl-3 text-left">
              <div class="text-danger">
                <% @product.errors[:date_first_available].each do |error| %>
                  **<%= error %> <br>
                <% end %>
              </div>
            </div>
            <% end %>

          </div>
        </div>

        <div class="row pt-xl-5 pl-xl-3">
          <%= f.submit "Submit", class: "btn btn-default btn-primary", data: { confirm: 'Are you sure ?' }  %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
