<meta name="viewport" content="width=device-width, initial-scale=1">

<%# render "layouts/home_logout" %>

<div class="container-fluid">

  <div class="row">

    <div class="col-xl-2">

      <%= render "layouts/side_navbar" %>
    </div>

    <div class="col-xl-10" style="width: 1000px; height: 500px; background-color:#4B515D">
      <div class="row py-xl-3">
        <% @products.each do |product| %>

        <div class="col-xl-3 py-md-1 mx-md-3 border border-dark" style="background-color:#ffffff; width: 300px; height: 200px;">
        <%= link_to edit_manage_product_path(id: product.id) do  %>
          <br>
          <%# product.id %>
          <%= render partial: "picture", locals: {product_pic: product}%><br>
          Name:        <%= product.name %> <br>
          Description: <%= product.description %><br>
          Price:       <%= product.price %><br>
        </div>
        <% end %>
        <% end %>
        <div class="col-xl-3 py-md-3 mx-md-3 border border-dark" style="background-color:#ffffff; width: 300px; height: 100px;">
        <%= link_to 'Add',new_manage_product_path %>
          <br>
          <%# product.id %>
          <br><br><br>
        </div>

      </div>
    </div>
  </div>
</div>
