<table class="table table-hover table-light">
  <!-- <thead> -->
  <tbody>
      <% card.each do |card| %>
      <tr>
        <td>
          <div class="row">
            <div class="col-xl-4">
              Card Number :<%= card.card_number%>
            </div>
            <div class="col-xl-6">
              Expiry :  <%= card.expiry%>
            </div>
            <div class="col-xl-1">
              <%= link_to "delete", card_path(id: card.id), method: "delete",class: "btn"%>
            </div>
            <div class="col-xl-1">
              <%= link_to "edit", dashboards_edit_card_path(id: card.id) , class: "btn" , remote: true %>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4">
              CVV : <%= card.cvv%>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4">
              Card Holer Name : <%= card.card_holder_name%>
            </div>
          </div>
        </td>
      </tr>
      <% end %>
    <tr>
      <td>
        <%= link_to "add new card",dashboards_new_card_path, remote: true %>
      </td>
    </tr>
  </tbody>
  <!-- </thead> -->
  <!-- <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    </tbody> -->
</table>
