<div class="px-xl-5 py-xl-5">
  <%= form_for :user do |f| %>

  <div class="row">

    <div class="col-xl-6">

      <div class="row pl-xl-3">
        <%= f.label "Email:",class: " control-label" %>
      </div>
        <%= f.label :email,value: user.email, class: "form-control" %>
    </div>

    <div class="col-xl-6">

      <div class="row pl-xl-3">
        <%= f.label "Password:", class: " control-label" %>
      </div>
        <%= f.label :password, value: user.password,class: "form-control" %>
    </div>
  </div>

  <div class="row">

    <div class="col-xl-6">

      <div class="row pl-xl-3 py-xl-2">
        <%= f.label :user_name, "User Name:", class: " control-label" %>
      </div>
        <%= f.label :user_name,value: user.user_name, class: "form-control" %>
    </div>

    <div class="col-xl-6">

      <div class="row pl-xl-3 py-xl-2">
        <%= f.label "Phone Number:", class: " control-label" %>
      </div>
        <%= f.label :phone_number,value: user.phone_number, class: "form-control" %>
    </div>

  </div>

  <div class="row pl-xl-3 py-xl-2">
      <%= f.label  "Alternate Number:", class: " control-label" %>
  </div>

  <div class="row">
    <div class="col-xl-6">
      <%= f.label :alternate_number,value: user.alternate_number, class: "form-control" %>
    </div>
  </div>

  <% end %>

</div>
