
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  body {
    font-family: "Lato", sans-serif;
  }

  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  .sidenav a:hover {
    color: #6dccd1;
  }

  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .blog-section div:first-child {
    margin-top: 37px;
    display: inline-block;
  }
</style>


<!-- <body style="background-color:#4B515D"> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-light rounded ">
  <%# @user.user_name %>
  <%= session[:current_user_id] %>
  <ul class="nav mr-auto">
    <!-- <li class="nav-item active">
      <%#  link_to 'Home' , 'sessions/new', :class => "btn nav-link" %>
    </li> -->
  </ul>
  <ul class="nav ml-auto">
    <li class="nav-item active">
      <%=  link_to 'Home' , controller: "dashboards", action: "index", :class => "btn" %>    </li>
      <!-- <li class="nav-item active">
        <%# <%=  link_to 'Log Out' , controller: "sessions", action: "destory", id: session[:current_user_id] ,:class => "btn" %> %>

      </li> -->
    </ul>
  </nav>

  <div class="container">
  <div class="row">
    <div class="col-xl-1">
      <div class="sidenav vertically-center alert ">
        <br><br>
        <li class="row py-xl-3" style="background-color:#4B515D">
          <%=  link_to 'Dashboards' , controller: "dashboards" , action: "index", :class => "btn" %>
        </li>
        <li class="row py-xl-3">
          <%=  link_to 'Products' , controller: "products" , action: "index", :class => "btn" %>
        </li>
    </div>
  </div>
      <!-- <li class="row py-xl-3">
        <a href="#clients">Setting</a>
      </li>
      <li class="row py-xl-3">
        <a href="#contact">Cart</a>
      </li> -->
      <div class="col-xl-11" style="width: 1000px; height: 500px; background-color:#4B515D">
        <br><br><br>
        <div class="col-xl-12 py-xl-5" style="background-color:#ffffff ">
          Dashboard Index page
        </div>
        <div class="col-xl-12 my-xl-5 py-xl-5" style="background-color:#ffffff ">
          Dashboard Index page
        </div>
      </div>
    </div>

  </div>

    <!-- </body> -->
