<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container-fluid">

  <div class="row">

    <div class="col-xl-2" style="background-color:#ffffff">

      <%= render partial: "layouts/side_navbar",locals: {selected: "cart"}%>
    </div>

    <div class="col-xl-9" style="width: 1000px; background-color:#4B515D">

      <div class="px-xl-5 py-xl-5">
        <%= form_for :card, url: cards_path(id: @payment_id,type: "order"), method: "post", html: {class: "form-horizontal center text-light"} do |f| %>

        <div class="row">

          <div class="col-xl-6">

            <div class="row pl-xl-3">
              <%= f.label "Card Number:",class: " control-label" %>
            </div>
            <%= f.text_field :card_number, class: "form-control" %>

            <% if @card.errors[:card_number].any?%>
            <div class="row pl-xl-3 text-left">
              <div class="text-danger">
                <% @card.errors[:card_number].each do |error| %>
                  **<%= error %> <br>
                <% end %>
              </div>
            </div>
            <% end %>

          </div>

          <div class="col-xl-6">

            <div class="row pl-xl-3">
              <%= f.label "Expiry:", class: " control-label" %>
            </div>
            <%= f.date_field :expiry,class: "form-control" %>
            <%= f.hidden_field :user_id,value: current_user.id,class: "form-control" %>

            <% if @card.errors[:expiry].any?%>
            <div class="row pl-xl-3 text-left">
              <div class="text-danger">
                <% @card.errors[:expiry].each do |error| %>
                  **<%= error %> <br>
                <% end %>
              </div>
            </div>
            <% end %>

          </div>
        </div>

        <div class="row">

          <div class="col-xl-6">

            <div class="row pl-xl-3 py-xl-2">
              <%= f.label "CVV:", class: " control-label" %>
            </div>
            <%= f.text_field :cvv, class: "form-control" %>

            <% if @card.errors[:cvv].any?%>
            <div class="row pl-xl-3 text-left">
              <div class="text-danger">
                <% @card.errors[:cvv].each do |error| %>
                  **<%= error %> <br>
                <% end %>
              </div>
            </div>
            <% end %>

          </div>

          <div class="col-xl-6">

            <div class="row pl-xl-3 py-xl-2">
              <%= f.label "Card Holer Name:", class: " control-label" %>
            </div>
            <%= f.text_field :card_holder_name, class: "form-control" %>

            <% if @card.errors[:card_holder_name].any?%>
            <div class="row pl-xl-3 text-left">
              <div class="text-danger">
                <% @card.errors[:card_holder_name].each do |error| %>
                  **<%= error %> <br>
                <% end %>
              </div>
            </div>
            <% end %>

          </div>

        </div>


        <div class="row pt-xl-5 pl-xl-3">
          <%= f.submit "Add Card", class: "btn btn-default btn-primary" %>
        </div>
        <% end %>

      </div>
    </div>
  </div>

</div>
