<meta name="viewport" content="width=device-width, initial-scale=1">

<%# render "layouts/home_logout" %>

<div class="container-fluid">

  <div class="row">

    <div class="col-xl-2" style="background-color:#ffffff">

      <%= render partial:"layouts/side_navbar", locals: {selected: "products"} %>
    </div>

    <div class="col-xl-9" style="width: 1000px;">

      <div class="row">
        <% @products.each do |product| %>

        <div class="col-sm-3 py-md-3 mx-md-3 border border-dark" style="background-color:#ffffff" align="center">
          <%= link_to product_path(id: @cart.id, product_id: product.id, status: "new", quantity: "1") do  %>
            <br>
            <%= render partial: "picture", locals: {product_pic: product,size: 200}%><br>
            Name:        <%= product.name %> <br>
            Description: <%= product.description %><br>
            Price:       <%= product.price %><br>
          <% end %>
          <%= button_to "Add to Cart", cart_path(id: @cart.id, product_id: product.id, status: "new", quantity: "1"), method: "put", remote: true%>
        </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
