<% dashboard = products = settings = manage_products = nil%>

<% if selected == "dashboard"%>
  <% dashboard = "background-color:#ffffff" %>
<% elsif selected == "products"%>
  <% products = "background-color:#ffffff" %>
<% elsif selected == "settings"%>
  <% settings = "background-color:#ffffff" %>
<% elsif selected == "manage_products"%>
  <% manage_products = "background-color:#ffffff" %>
<% elsif selected == "cart"%>
  <% cart = "background-color:#ffffff" %>
<% end %>


<div class="sidenav vertically-center alert" style="background-color:#4B515D; width: 180px; height: 500px">
  <br><br>

  <li class="row py-xl-2 px-xl-2" style= <%= dashboard %>>
    <%=  link_to 'Dashboard' , dashboard_path, class: "btn" %>
  </li>

  <li class="row py-xl-2 px-xl-2" style= <%= products %>>
    <%=  link_to 'Products' , product_index_path, class: "btn" %>
  </li>

  <li class="row py-xl-2 px-xl-2" style= <%= settings %>>
    <%=  link_to 'Settings' , setting_index_path , class: "btn" %>
  </li>

  <li class="row py-xl-2 px-xl-2" style= <%= manage_products %> >
    <%=  link_to 'EditProducts' , manage_products_path , class: "btn" %>
  </li>

  <li class="row py-xl-2 px-xl-2" style= <%= cart %> >
    <%=  link_to 'Cart' , cart_index_path , class: "btn" %>
  </li>
</div>
