<!DOCTYPE html>
<html>
<head>
  <title>OnlineRetail</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="h6">
  <% if session[:current_user_id] != nil %>
  <%= render "layouts/home_logout" %>
  <% end %>
  <% if flash[:success] %>
  <div class="alert alert-success ">
    <%= flash[:success] %>
  </div>
  <% end %>
  <%= yield %>
</body>
</html>
